@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>小問題集解答</h1>
    <div>
        <ul>
            <li>@Html.ActionLink("Q1", "Q1", "Q40")</li>
            <li>@Html.ActionLink("Q2", "Q2", "Q40")</li>
            <li>@Html.ActionLink("Q3", "Q3", "Q40")</li>
            <li>@Html.ActionLink("Q4", "Q4", "Q40")</li>
            <li>@Html.ActionLink("Q5", "Q5", "Q40")</li>
            <li>@Html.ActionLink("Q6", "Q6", "Q40")</li>
            <li>@Html.ActionLink("Q7", "Q7", "Q40")</li>
            <li>@Html.ActionLink("Q8", "Q8", "Q40")</li>
            <li>@Html.ActionLink("Q9", "Q9", "Q40")</li>
            <li>@Html.ActionLink("Q10", "Q10", "Q40")</li>
        </ul>
    </div>
</body>
</html>
