@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Q5</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/question1.css")">
    <script src="@Url.Content("~/Scripts/jQuery/jquery-3.3.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/q5.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment/moment.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment/moment-timezone.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment/moment-timezone-with-data.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment/moment-timezone-with-data-2012-2022.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment/moment-timezone-utils.js")" type="text/javascript"></script>
</head>
<body>
    <h1>Q5</h1>
    <div>
        問題：プログラム実行時の第一引数、第二引数にタイムゾーンの表示名を渡した場合、
        第一引数で渡した国の時刻と第二引数で渡した国の時刻の時差を表示
        するプログラムを作成しなさい。
    </div>
    <div>
        <div>↓第一引数に渡すタイムゾーンの表示名を入力してください</div>
        <input type="text" id="timezone" />
        <div>↓第二引数に渡すタイムゾーンの表示名を入力してください</div>
        <input type="text" id="timezone2" />
    </div>
    <button id="judge">判定する</button><br />
    <div id="result">
        <p id="result_text">結果は...</p>
    </div>
    <div>@Html.ActionLink("トップに戻る", "Index", "Home")</div>
</body>
</html>